version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ####
      POSTGRES_PASSWORD: ###
      POSTGRES_DB: opsflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@postgres:5432/opsflow
      JWT_SECRET_KEY: change-me
      JWT_ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: "60"
    ports:
      - "8000:8000"
    depends_on:
      - postgres

volumes:
  postgres_data:
